@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'baiJamjuree';
    src: url('/fonts/BaiJamjuree-Regular.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratAlternates';
    src: url('/fonts/MontserratAlternates-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'popins';
    src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}